<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" type="" modules="FastCgiModule"
                 scriptProcessor="D:\PHP\8.2\php-cgi.exe" resourceType="Either"
                 requireAccess="Script" allowPathInfo="false" preCondition=""
                 responseBufferLimit="4194304" />
        </handlers>

        <!-- Pass PHP response body through on 5xx so our error handler shows instead of IIS page -->
        <httpErrors existingResponse="PassThrough" />

        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>

        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>
